node_modules
public/bundle.js
public/bundle.js.map
secrets.js
.DS_Store
npm-debug.log
yarn-error.log
client/components/firebaseConfig.js
.firebase
siqbeets-23b66-firebase-adminsdk-k1srt-00366a4f37.json
